html,body{
    margin: 0;
    min-height: 100vh;
}
body{
    display:flex;
}

.main_content{
    flex: 1;
    background-color: red;
    min-height: 100vh;
}

.side_stuff{
    background-color: blue;
    width: 30vw;
    min-height:100vh;
    padding: 10px;
}

.Version{
    width: 100%
}

@media screen and (max-width: 480px){
    .side_stuff{
        background-color: black;
        width: 50vw;
    }
}