html,body{
    margin: 0;
    min-height: 100vh;
}
body{
    display:flex;
}

.main_content{
    flex: 1;
    background-color: red;
    min-height: 100vh;
}

body:has(.side_stuff.open) #openSide {
    display: none;
}

.side_stuff{
    width: 0;
    padding: 0;
    background-color: blue;
    min-height: 100vh;
    overflow: hidden;
    transition: width 0.3s ease;
    align-items: center;
}

.side_stuff.open{
    width: 20vw;
    padding: 8px;
    box-sizing: border-box;
}

@media screen and (max-width: 480px){
    .side_stuff.open{
        width: 100vw;
        padding: 6px;
        background-color: black;
    }

    body:has(.side_stuff.open) .main_content{
        display: none;
    }
}