html,
body{
    display:flex;
    gap: 0px;
    margin: 0;
    min-height: 100vh;
    background-color: floralwhite;
}

.main_content{
    flex: 1;
    background-color: red;
    width: 70vw;
    min-height: 100vh;
    position: absolute;
}

.side_stuff{
    flex: 2;
    background-color: blue;
    width: 30vw;
    min-height:100vh;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 480px){
    .side_stuff{
        width: 50vw;
    }
}